body {
    /* font-family: 'Montserrat', sans-serif; */
    background-color: #FEFEFE;
    font-family: 'Inter', sans-serif;
        font-family: 'Kalam', cursive;
        font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.header { 
    background: var(--White, #FEFEFE);
        box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
    }

.header-container {
    display: flex;
    padding: 20px 16px;
    align-items: center;
   
}

.container {}

.header-nav {
display: flex;
flex-grow: 1;
justify-content: space-between;
align-items: center;
margin: 0 auto;}


.header-logo-link {}

.header-logo-img {}

.header-list {display: flex;
align-items: center;
gap: 28px;
margin-right: 30px;}

.header-link {
    color: #2C2C2C;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
}

.header-btn {
    color: #2C2C2C;
        text-align: right;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        padding: 6px 18px;
        border-radius: 30px;
        background: #BBF330;
        border: none;
        margin-left: auto;
        transition-property: background-color;
        transition-duration: 400ms;
        transition-timing-function: linear;

}

.header-btn:hover {
        background-color: #FFE450;
}

/* hero */

.hero {}

.hero-container {
    display: flex;
    margin-bottom: 55px;
    gap: 16px;
    justify-content: space-between;
    padding-top: 16px;
}

.hero-container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 160px 0 160px 0;
}

.hero-title {
    color: #2C2C2C;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.20;
    max-width: 511px;
    margin-bottom: 28px;
}

.hero-text {
    color:  #2C2C2C;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    max-width: 511px;
    margin-bottom: 50px;
}

.hero-btn {
    color:  #2C2C2C;
        text-align: right;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.50;
        border-radius: 30px;
        background: #BBF330;
        padding: 6px 18px;
        border: none;
        transition-property: background-color;
        transition-duration: 400ms;
        transition-timing-function: linear;
        }
        
     

.hero-btn:hover {
    background-color: #FFE450
}

.hero-img-bg {
    border-radius: 580px;
        border: 26px solid  #FFE550;
        background:  #FEFEFE;
        width: 580px;
            height: 580px;
            flex-shrink: 0;
}

.hero-img {
    padding: 40px 50px 40px auto;
    margin-left: auto;
}

/* benefits-container */

.benefits {
    background-color: rgba(255, 229, 80, 1);
    padding-top: 113px;
    padding-bottom: 124px ;
}

.benefits-container {
    display: flex;
    gap: 16px;
}

.img-container{
    width: 50%;
    display: flex;
    justify-content: center;
}

.benefits-img {
    margin-top: 0 ;
}

.benefits-container-text {
    display: flex;
    flex-direction: column;
    width: 50%; 
    align-items: flex-start;
    padding-top: 83px;
    padding-bottom: 36px;
}

.benefits-title {
    color:  #2C2C2;
        font-size: 42px;
        font-weight: 700;
        line-height: 1.20;
        margin-bottom: 20px;
}

.benefits-text {
    color:  #2C2C2C;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.50;
        margin-bottom: 40px;
        max-width: 500px;
}

.benefits-list {
    margin-bottom: 32px;
    display: flex;
    gap: 67px;
   
}

.benefits-item {
}

.benefits-subtitle {
    color: #2C2C2C;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.40;
        margin-bottom: 16px;
}

.benefits-icon-wraper {
background-color: #fff;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
width: 48px;
height: 48px;
margin-bottom: 8px;

}

.benefits-icon {
  fill: #7EB101;  
}

.benefits-item-text {
    color:  #2C2C2C;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.50;
}

.benefits-btn {
    border-radius: 30px;
    padding: 10px 22px;
        border: 2px solid  #7EB101;
        background: #FFF;
        color: #2C2C2C;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.50;
            transition-property: background-color, border;
                transition-duration: 400ms;
                transition-timing-function: linear;
            
            }
            
            .benefits-btn:hover {
                background-color: #BBF330;
                border: 1px solid #BBF330;
}

/* favorites */

.favorites {
    padding-top: 120px;
    padding-bottom: 101px;
}

.container {}

.favorites-title {
    color: #2C2C2C;
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
}

.favorites-text {
    color:  #2C2C2C;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 40px;
}

.favorites-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.favorites-item {
    width: calc((100% - 64px)/3);
    display: flex;
    justify-content: center;
}

.favorites-food-bg {
    border-radius: 167.59px;
        border: 14px solid  #FFE550;
        background:  #FEFEFE;
}

.favorites-item-img {}

/* reiews */

.reviews {
    padding-top: 140px;
    padding-bottom: 126px;
    background-color: #FFE550;;
}

.container {}

.reviews-title {
    color:  #2C2C2C;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
}

.reviews-text {
    color: #2C2C2C;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 32px;
}

.reviews-list {
    display: flex;
    flex-direction: row;
}

.reviews-item {
    background-color: #FEFEFE;
    border-radius: 0px 30px 30px 30px;
    max-width: 501px;
    padding: 14px 14px 14px 17px;
    margin-right: 139px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.stars-icon {
    margin-bottom: 28px;
}

.reviews-item-text {
    color:  #2C2C2C;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 41px;
        
}

.reviews-item-container {
    display: flex;
    gap: 16px;
    border: 1px solid #7EB101;;
        border-top: none;
        border-left: none;
        border-bottom: none;
        padding: 2px 14px 3px 0;

}

.reviews-item-img {
    border: 1px solid #FFE550;
    border-radius: 100%;
}

.reviews-item-container-text {
    

}

.reviews-item-subtitle {
    color: #2C2C2C;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.50;
}

.reviews-subtitle-text {
    color: #2C2C2C;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.50;
}

/* subscribe */

.subscribe {
    padding-top: 176px;
padding-bottom: 201px;}

.container-subscribe {
    display: flex;
}

.subscribe-text-container {
    padding: 46px 0 36px 0;
}

.subscribe-title {
    color:  #2C2C2C;
        font-size: 42px;
        font-weight: 700;
        line-height: 1.20;
        margin-bottom: 20px;
}

.subscribe-text {
    color: #2C2C2C;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.50;
        margin-bottom: 24px;
        max-width: 532px;
}

.subscripe-subscription-input {
        border-radius: 30px;
        border: 0.854px solid #FFE550;
        background-color: #FEFEFE;
        padding: 12px;
        width: 395px;
        height: 42px;
        margin-right: 12px;

    }

    .subscripe-subscription-input:placeholder {
        color: #505050;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.50;
    }


.subscribe-btn {
    color: #2C2C2C;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.50;
        border-radius: 30px;
            background-color:  #BBF330;
            padding: 11px 22px;
            border: none;
}

.subscribe-img {
    margin-left: auto;
}

/* footer */

.footer {
    padding-top: 100px;
padding-bottom: 100px;
background:  #FEFEFE;
    box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.10);
}

.container {}

.footer-nav-bar {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 143px;
}

.footer-nav-wraper {
    display: flex;
align-items: flex-start;
justify-content: space-between;}

.footer-nav-list {
    display: flex;
    gap: 28px;
    
}

.footer-nav-link {
color:  #2C2C2C;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.subscription-title {
    color: #2C2C2C;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.50;
        margin-bottom: 12px;
}

.footer-subscription-form {
    display: flex;        
    margin-bottom: 12px;

}

.footer-subscription-input {
    border-radius: 30px;
        border: 0.854px solid  #FFE550;
        background-color:  #FEFEFE;
        padding: 12px;
        width: 279px;
        height: 42px;
        margin-right: 12px;

}

.footer-subscription-input:placeholder {
    color:  #505050;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.50;
}

.footer-subscription-btn {
    border-radius: 30px;
        border: 0.1px solid #7EB101;
        background: #FFF;
        padding: 11px 22px;
}

.footer-subscription-text {
    color:  #2C2C2C;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
}

.footer-subscription-link {
    color:  #7EB101;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
}

.footer-rights {
    display: flex;
    justify-content: space-between;
}

.footer-rights-list {
    display: flex;
    gap: 20px;
}

.footer-rights-item {
    color:  #7EB101;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }

.footer-rights-link {
    
}

.footer-rights-text {
    color: #2C2C2C;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
}


/* modal */

.overlay-modal {
     width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background-color:rgba(94, 99, 99, 0.70);;   
}

.modal {
    width: 458px;
    min-height: 449px;
    border-radius: 30px;
    background-color: #FFE550;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    border: none;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
}

.close-modal-btn {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: border;
    transition-duration: 400ms;
    transition-timing-function:linear ;
}

.close-icon {
    stroke: #2C2C2C;
}

.close-modal-btn:hover {
border: 2px solid #7EB101
}



.modal-title {
    color:  #2C2C2C;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
    text-align: center;
    margin-bottom: 20px;
}

.modal-form {}

.input-field {
    margin-bottom: 24px;
}

.input-label {
    color: #2C2C2C;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.40;
        margin-bottom: 2px;
        padding-left: 12px;
}

.modal-input {
    border-radius: 30px;
        border: 1px solid rgba(18, 18, 18, 0.12);
        background: #FFF;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
        width: 100%;
        height: 48px;
        padding-left: 12px;
        outline: none;
        transition-property: border;
        transition-duration: 400ms;
        transition-timing-function: linear;
}

.modal-input:focus {
        border: 1px solid #7EB101;
}

.modal-input:hover {
    border: 1px solid #7fb10196;
}


.modal-input::placeholder {
    color: #C4C4C4;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
}


.submit-modal-btn {
    border-radius: 30px;
        border: 2px solid var(--Dark-green, #7EB101);
        background: #FFF;
        padding: 10px 38px;
        margin: 0 auto;
        display: block;
        transition-property: background-color, border;
        transition-duration: 400ms;
        transition-timing-function: linear;
        color: #2C2C2C;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.50;        
}

.submit-modal-btn:hover {
background-color: #BBF330;
border: 2px solid #BBF330;
}